<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ExePath" value="C:\Program Files (x86)\CRX_Analytics\CRX_CMDB\CRX-CMDB-V2.exe" />
        <add key="WorkingDirectory" value="C:\Program Files (x86)\CRX_Analytics\CRX_CMDB\" />
        <add key="LogFile" value="C:\ProgramData\CRX_Analytics\CMDB_service.log" />
		<add key="DelayLow" value="360000"/>
		<add key="DelayHigh" value="720000"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
