<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ExePath" value="C:\Program Files (x86)\CRXServiceAnalytics\CMDB-DataCollector\CRX-CMDB-V2.exe" />
        <add key="WorkingDirectory" value="C:\Program Files (x86)\CRXServiceAnalytics\CMDB-DataCollector\" />
        <add key="LogFile" value="C:\ProgramData\CRXServiceAnalytics\CMDB_service.log" />
		<add key="DelayLow" value="79200"/>
		<add key="DelayHigh" value="86400"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
